body {
  background-image: url(images/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.plant-holder {
  background-repeat: no-repeat;
  overflow: hidden;
  width:200px;
  padding: 5px;
  margin: 10px;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 10px;
  float: left;
}

#health {
  margin-left: auto;
  margin-right: auto;

}

.health-bar {
  width: 25px;
  height: 25px;
  border: solid white;
  background-color: green;
  border-radius: 10px;
  margin: 2px;
}

.health-bar-display{
  width: 25px;
  height: 25px;
  border-radius: 10px;
  margin: 2px;
}

#plant-panel {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.plant-profile {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.plant-feed-panel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  text-align: center;
}

#start-panel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  text-align: center;
}

button {
  display: inline-block;
  margin: 10px;
  width: 100px;
}
